@import "tailwindcss";

/* :root {
  --background: #e9effb;
  --foreground: #171717;
} */

/* Forzar modo claro para mantener la UI consistente aunque el usuario tenga dark mode activo */
html {
  color-scheme: light;
}

body {
  background-color: #f0fdf4; /* mismo bg q el bg-green-50 */
}

/* Base typography rendering: texto más suave y limpio */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* design tokens */
@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-body: var(--font-dm-sans);
  --font-title: var(--font-archivo-black);
  --color-casas-red: #e77878;
  --color-casas-blue: #6fa9cf;
  --color-casas-orange: #e7a05a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
